[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = git@github.com:matthewtole/Arduino-Makefile.git
[submodule "lib/Chrono"]
	path = lib/Chrono
	url = https://github.com/SofaPirate/Chrono.git
[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "lib/Button"]
	path = lib/Button
	url = https://github.com/madleech/Button.git
